.top{
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px;
    //width:90%;
    //width: 450px;
    height: 95%;
    background-color: white;//pooja
    margin-right: 10px;
    font-family: roboto;
}
.main{
   
    display: grid;
    grid-template-columns: 60% 40%;
}
#search{
  
    columns: #05053d;
    font-weight: bold;
    font-size:14px ;
    //font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 6px 6px rgba(179,179,179,0.51);
    padding-right: 15px;
}
#rec{
    
    columns: #05053d;
    font-weight: bold;
    font-size:17px ;
   // font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 6px 6px rgba(179,179,179,0.51);
    font-weight: bold;
    
}
#in{
border: 1px solid gray;
    padding: 5px;
    width: 150px;
    height: 20px;
    font-size: 12px;
}
.display{
    border: 1px solid grey;
    color: #05053d;
    border-radius: 10px;
   // font-family: "adobe-clean", sans-serif;
    font-size: 12px;
    padding:5px; 
    text-align: left;
    width: max-content;

}
#btn{
    border:none;
    font-size: 12px;
    background: none;
    float:right;
    padding-bottom: 1%!important;
    line-height: 10px;
    padding-left: 20px;
 
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    font-size: 12px;
    width: 100%;
    height: 2%;
   
   
  }
  
  .example-full-width {
    width: 100%;
    height: 2%;

    
  }


  .first{
      margin-right: 10%;
  }
  #print{
      height: 180px;
      overflow-y: auto;
      width: auto;
  
      
  }
::ng-deep .mat-autocomplete-panel.mat-autocomplete-visible {
    visibility: visible;
    height: 110px;
    font-family: roboto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.mat-option {

  line-height: 20px;
  height: 25px;
}