<mat-card class="inline-calender">
    <mat-card-title>
        <div id="dateForm">
            <div>
                <input name="startDate" placeholder="Start Date" [formControl]="startDate">
            </div>
            <div>
                <input name="endDate" placeholder="End Date" [formControl]="endDate">
            </div>
        </div>
    </mat-card-title>
    <mat-card-content>
        <mat-calendar (selectedChange)="updateDate($event)">
        </mat-calendar>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="applyChanges()" [disabled]="!validDateRange">Apply</button>
    </mat-card-actions>
</mat-card>