.header{

    position: absolute;

    left: 0%;

    right: 0%;

    top: 0%;

    bottom: 0%;

    background: #FFFFFF;

    height: fit-content;

}

.btn{

    width: 100%;

    padding-left: 8px;

}

.posmo{  

    height: 55px;

    width: 120px;

}