// body {
//     margin: 0;
//     font-family: "Lato", sans-serif;
// }
// .titleHeaders{
//     font-size: 14px;
//     color: #18385c;
// }
// .topHead{
//     width: 100%;
//     background: white;
//     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//     border-radius: 8px;
//     padding: 0.5em;
//     height: fit-content;
//     margin-bottom: 1em;
// }
// .selectOptions{
//     border: 0.5px solid gray;
//     border-radius: 5px;
//     width: 100%;
//     padding: 0.1em;
//     padding-left: 0.5em;
// }
// .container{
//     border-radius: 10px;
//     padding: 1em;
//     background-color: rgb(236, 236, 248);
//     width: 100%;
//     height: 580px;
// }
// .scrollContainer{
//     overflow-y: auto;
//     height: 340px;
//     -ms-overflow-style: none; /* IE 11 */
//     scrollbar-width: none; /* Firefox 64 */
// }
// .scrollContainer::-webkit-scrollbar {
//     /* Chrome */
//     display: none;
// }
// .card{
//     width: 100%;
//     background: #ffffff;
//     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
//     border-radius: 10px;
//     margin-left: 0.8em;
//     margin-top: 2em;
//     padding: 0.5em;
// }
// .card2{
//     width: 240px;
//     background: #ffffff;
//     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
//     border-radius: 4px;
//     margin-bottom: 20px;
// }
// .navbar1{
//     color: white;
//     background: #18385c;
//     padding: 1em;
//     padding-left: 1.5em;
// }
// .count{
//     font-size: 40px;
//     font-weight: bolder;
// }
// .day{
//     font-size: 35px;
//     font-weight: bolder;
//     opacity: 0.5;
//     margin-left: 15px;
// }
// .heading{
//     font-size: 20;
//     font-weight: bold;
// }
// .filter{
//     align-items: flex-end;
//     text-align: right;
// }
// .addAppoint{
//     border-radius: 4px;
//     background: #18385c;
//     color: white;
//     font-size: 15px;
//     text-align: center;
//     height: 30px;
//     width: 200px;
//     margin-left: 30px;
// }
// .date{
//       border-radius: 25px;
//       background: linear-gradient(to right, #18385c 50%, white 50%);
//       width: 80px;
//       height: 30px;  
//       align-items: flex-end;
//       text-align: center;
//     }
// img {
//       border-radius: 50%;
//       height: 60px;
//       width: 60px;
//     }
// .name{
//     font-size: 12px;
//     font-weight: bold;
// }
// .apTime{
//     font-size: 20px;
//     font-weight: bolder;
// }
// .apDate{
//     font-size: 10px;
//     font-weight: lighter;
//     margin-top: -8px;
// }
// .apIssue{
//     opacity: 0.5;
//     font-size: 10px;
//     margin-top: 10px;
// }
// .details{
//     color: skyblue;
//     text-align: center;
//     font-size: 12px;
//     margin-top: -10px;
//     padding-bottom: 10px;
// }
// .vL {
//   border-left: 1px solid black;
//   height: 20px;
//   opacity: 0.2;
// }

// .line{
//   margin: 0px;
//   margin-left: -30px;
// }
// .call{
//     margin-left: -15px;
//     margin-right: 15px;
// }
// .video{
//     margin-left: -10px;
// }
// .message{
//     margin-right: 5px;
// }
// .vL2{
//   border-left: 1px solid black;
//   height: 40px;
//   opacity: 0.2;
//   margin-left: 20px;
// }
// .line2{
//     margin: 0;
// }
// a{
//     text-decoration: none;
// }
// .active{
//     background-color: white;
//     border-radius: 5px;
//     font-size: 15px;
//     padding: 0.5em;
//     margin-right: -2em;
//     margin-top: 1em;
// }
// .inActive{
//     color: white;
//     font-size: 15px;
//     margin-top: 1.5em;
// }
// .rotate{
//     transform: rotate(270deg);
// }

.container{
    width:90%;
    /* position: absolute; */
  }
  
  .headPart {
  
  margin-top: 1em;
  margin-left: 22em;
  
  }
  .status {

    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 60px;
    width: 90vw;
     box-shadow: 0 4px 4px rgba(73, 73, 73, 0.35);
    margin-top: -1.5em;
    margin-left: -17.4em;
  color: #ADADAD;
  
  
  }
  .statusDetails{
    display: flex;
    position: absolute;
    top: 2%;
    right: 4%;
    cursor: pointer;
  }
  .statusDetails h4{
    margin-top: 0.3em;
  }
  .statusDetails h4 .fa-1x{
    margin: 0.7em;
  }
  #drop{
    position:relative;
    color: black;
    width: 140px;
    height: 21vh;
     border-radius: 4px;
     border: 1px solid #eee;
     background-color: #fafafa;
     box-shadow: 0 4px 4px rgba(73, 73, 73, 0.35);
  margin-left: 90em;
  margin-top: 3.8em;
  }
  #drop ul{
    list-style: none;
  text-align: center;
margin-left: -2em;
}
  #drop ul li{
    margin: 0.5em;
    cursor: pointer;
  }
  .dropdwon{
     display: none;
  }
  .divd{
    width: 110px;
    height: 0.5px;
    margin-left: -0.4em;
    background-color: #18385C;
  }