<ngx-topheader></ngx-topheader>
<div class="bg">
    <img class="image1 dis_flex jus_cen item_cen align_center bg" style="height:100%;width:100%" src ="../../assets/Login page.png">
</div>

<!-- <div class="row1 dis_flex jus_cen item_cen align_center d-flex flex-row col-xl-12" >
    <div class="col-xl-6 col-sm-6 col-sx-6 d-flex flex-column ">

        
        <img class="image1 dis_flex jus_cen item_cen align_center bg" style="height:1000px;width:1000px" src ="../../assets/bgPet.jpg">
        <img class="image1 dis_flex jus_cen item_cen align_center" src="../../assets/image-alpha.png">
        <div class="row  getStarted d-flex flex-row justify-content-center" >
          <button type="button" class="btn btn-light  dis_flex jus_cen item_cen align_center p-2 px-3 mt-2">Get
                Started</button>
        </div>
    </div>
    <div class="col-xl-6 col-sm-6 col-xs-6">
        <img class="image2 dis_flex jus_cen item_cen align_center" src="../../assets/Petzeylogo.png">
    </div>

</div> -->
