
 <!--Main section [all appointmet]-->
 <label class="label1">All Appointments</label>
   
 <!--Calendar-->
  <img src="https://th.bing.com/th/id/OIP.xunN6OlfE-nNsfUhVpq1MQHaHa?pid=ImgDet&rs=1" class="filter33">
 <input type="date" id="demo77"> 
 
<hr>
<div class="container ">
    <div class="sec1">
       <div class="card "  *ngFor="let doc of doctor "  >
          <!--<div *ngIf="i % 5 == 0 class="row"> -->
        <p class="colr">!</p>
            <div class="card1">
                   <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTQcBd1mQ6beHWgUaETecDArd56qy2NehbLQ&usqp=CAU.jpg" />
               <div class="sub_card">
                <h4>{{doc.name}}</h4>
                   <div class="icon">
                         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-right-text-fill icons" viewBox="0 0 16 16">
                        <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM3.5 3h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z" />
                        </svg>
                      
                        <hr class="h-line1" />
                         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-telephone-fill icons" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                        </svg>
                        
                        <hr class="h-line1" />
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-camera-video-fill icons" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
                       </svg>
                   </div>
               </div>
             </div>
             
            
            
            <div class="card2">
               <div>
                 <!--  <span class="head">{{doctorT.time}} -->
                      {{doc.time}}
                      <span>
                   <br> <p class="reply" ><a [routerLink]="'/CMD/appointment/adda'">View Details</a></p>
                    </span><br> 
               </div>  
               
               <div>
               <!--    <span class="head">{{doctorT.date}}  -->
                    {{doc.date}}
                    <br>
                    <span class="head">
                      <button (click)="open()" class="reply">Give feedback</button>
                           </span><br><br> 
                
               </div>
           </div>
            
        </div>
   </div>

   
<div class="container ">
  <div class="sec1">
     <div class="card "  *ngFor="let doc of doctor "  >
        <!--<div *ngIf="i % 5 == 0 class="row"> -->
      <p class="colr">!</p>
          <div class="card1">
                 <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTQcBd1mQ6beHWgUaETecDArd56qy2NehbLQ&usqp=CAU.jpg" />
             <div class="sub_card">
              <h4>{{doc.name}}</h4>
                 <div class="icon">
                       <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-right-text-fill icons" viewBox="0 0 16 16">
                      <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM3.5 3h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z" />
                      </svg>
                    
                      <hr class="h-line1" />
                       <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-telephone-fill icons" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                      </svg>
                      
                      <hr class="h-line1" />
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-camera-video-fill icons" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
                     </svg>
                 </div>
             </div>
           </div>
           
          
          
          <div class="card2">
             <div>
               <!--  <span class="head">{{doctorT.time}} -->
                    {{doc.time}}
                    <span>
                 <br> <p class="reply" ><a [routerLink]="'/CMD/appointment/adda'">View Details</a></p>
                  </span><br> 
             </div>  
             
             <div>
             <!--    <span class="head">{{doctorT.date}}  -->
                  {{doc.date}}
                  <br>
                  <span class="head"> 
                     <button (click)="onOpenEdit()" class="reply">View feedback</button>
                  </span><br><br><br> 
              
             </div>
         </div>
         
          
      </div>
      <div class="ModalContainer" *ngIf="isModalOpen">
         <div class="modalInnerContainer">
             <button class="closeButton" (click)="onClose()">X</button>
         <app-feedback class=".form" [issEdit]="isEditedForm" style="position:absolute; height: fitContent;"></app-feedback>
         </div>
         <div class="blur"></div>
      </div> 
       

 <router-outlet></router-outlet> 


