
  .no-outline {
    outline: none;
    border: none;
    width: 200%;
  }
  .buttonclass
  {
      background-color: blue;
      
  }
  .test-class
  {
    font-size: large;
  }

  .outline {

    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 450%;

  }
  
  
  
