.s1{
  font-size: 15px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 20px;
  
  }
  .s2{
  padding-left: 50px;
  
  }
  .s3{
    font-size: 12px;
    padding-left: 7px;
  }
  .s4{
    padding-left: 20px;
  }
  
  .s5{
    padding-left: 20px;
  }
  .s6{
    padding-left: 20px;
  }
  .s7{
    padding-left: 30px;
  }
      .h1{
          color:rgb(101, 204, 245);
          font-family: sans-serif;
          font-size:20px;
          margin-left: 50px;
          font-weight: bold;
      }
       .box{
         width: 280px;
         height: 200px;
         border:rgb(163, 163, 165)
       }
    body{
      width: 300px;
      height: 400px;
      border: 2px solid rgb(163, 163, 165);
      padding-bottom: 50px;
      margin-left: 10px;
      border-radius: 3px;
      padding-top: 2px;
      box-shadow: rgb(187, 187, 189);
    }  
  